*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: color #333;
     color: #222121;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#contact {
    background-color: orange;
    padding: 50px 20%;
}

#contact h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0e0e0e;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.info {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.info h2 {
    color: #161616;
    margin-bottom: 10px;
}

.info p {
    color: #1f1f1f;
    line-height: 1.6;
}

.info ul {
    list-style: none;
    padding: 0;
}

.info ul li {
    margin-bottom: 10px;
    color: #0f0f0f;
}

.form {
    flex: 1;
    min-width: 400px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .info, .form {
        margin: 0 0 20px 0;
    }
}